







/*
@media (max-width: 760px) {

    .app_wrapper {
        height: 900px;
    }


    .course {
        width: 90%;
    }

    #signupForm {
        width: 95%;
        height: 60vh;
    }

    .quizdashboard_wrapper {
        width: 95%;
        margin-top: -100px;
    }

    #questions_wrapper {
        width: 95%;
    }

    .quizresultdashboard_wrapper {
        width: 80%;
    }

    .quizresultdashboard_wrapper {
        margin-top: -150px;
    }
}
*/