:root {
    --bordercolor--: #e0e0e0;
    /* --bgcolor--:  rgb(24, 56, 83); */
    --bgcolor--:  #003140;

    --bgcolor2--:  rgb(125, 197, 255);
    --colorwhite--: #fff;
    --colorblack--: #000;
}

body {
    padding: 0;
    margin: 0;
    color: var(--bgcolor--);
    font-family: 'Roboto';
    /* background-color: var(--colorwhite--); */
}





/* global classes starts */

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.display_flex {
    display: flex;
}

.border_none {
    border: none;
}

.cursor_pointer {
    cursor: pointer;
}

.font_weight700 {
    font-weight: 700;
}

.border_radius6px {
    border-radius: 6px;
}

.transition_all3 {
    transition: all 0.3s;
}

.color_dark {
    color: var(--bgcolor--);
}


.btn1 {
    padding: 11px 20px;
}

.btn1:hover {
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn2 {
    padding: 14px 30px;
    border: 1px solid var(--bgcolor--);
    background-color: var(--colorwhite--);
    margin: 3px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn2:hover {
    color: var(--colorwhite--);
    background-color: var(--bgcolor--);
}

.btn3 {
    width: 80%;
    padding: 11px 20px;
}

.btn3:hover {
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}






.bg_dark {
    background-color: var(--bgcolor--);
}

.color_white {
    color: var(--colorwhite--);
}

.ml-12 {
    margin-left: -12px;
}

.icons {
    padding: 5px;
    border: 1px solid var(--bordercolor--);
    border-radius: 50%;
}

/* global classes ends */










/* home page starts */

.topnav_wrapper {
    border-bottom: 1px solid var(--bordercolor--);
    /* width: 100%; */
    padding: 8px 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    justify-content:space-around;
    align-items: center;
    background: transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.logo_name {
    text-decoration: none;
    color: var(--bgcolor--);
    margin-left: 4px;
}


.logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.nav_left_wrapper {
    /* border: 1px solid black; */
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.home_image_wrapper {
    width: 60%;
    overflow: hidden;
    border-radius: 20%;
}

.home_image {
    width: 600px;
    z-index: -1;
}

#home_content_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    height: 90vh;
    padding: 0 42px;
}

.home_heading {
    font-size: 4rem;
    margin: 0;
    font-weight: 300;
}

.icons_wrapper {
    margin-left: 10px;
    /* border: 1px solid black; */
}

.home_content_wrapper p {
    font-size: 15px;
}


.home_btn_wrapper {
    margin-top: 40px;
}


/* home page ends */



/* signup form starts */

.form_wrapper {
    margin-top: 150px;
}

.form {
    padding: 20px;
    width: 30%;
    text-align: center;
    border: 1px solid var(--bordercolor--);
    border-radius: 10px;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hr {
    width: 50%;
    background-color: var(--bordercolor--);
}

.usamaimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.usamaimageForm {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.inputStyleForm {
    width: 80%;
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--bordercolor--);
}

.inputStyleForm:focus {
    outline: none;
}

.login_signup_container {
    /* position: absolute; */
    /* right: 40px; */
    /* top: 20px; */
    /* font-size: 16px; */
    /* float: right; */
    border: 1px solid black;
}


/* signup form ends */








/* footer starts */

.footer {
    padding: 40px;
    display: flex;
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
}

.footer a {
    text-decoration: none;
    color: rgb(51, 188, 241)
}

.footer a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

/* footer ends */