:root {
    --bordercolor--: #e0e0e0;
    /* --bgcolor--:  rgb(24, 56, 83); */
    --bgcolor--:  #003140;

    --bgcolor2--:  rgb(125, 197, 255);
    --colorwhite--: #fff;
    --colorblack--: #000;
}

body {
    padding: 0;
    margin: 0;
    color: var(--bgcolor--);
    font-family: 'Roboto';
    /* background-color: var(--colorwhite--); */
}





/* global classes starts */

.btn1 {
    /* width: 80px; */
    padding: 9px 20px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 700;
    transition: all 0.3s;
}

.btn1:hover {
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.btn2 {
    /* width: 80px; */
    padding: 14px 30px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 700;
    transition: all 0.3s;
    color: var(--colorwhite--);
    background-color: var(--bgcolor--);
    margin: 3px;
}

.btn2:hover {
    color: var(--bgcolor--);
    background-color: var(--colorwhite--);
    /* border: 1px solid var(--bgcolor--); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.bg-color {
    background-color: var(--bgcolor--);
}

.text-color {
    color: var(--colorwhite--);
}

.ml-12 {
    margin-left: -12px;
}

.zi1 {
    z-index: 1;
}

/* global classes ends */










/* home page starts */

.app_wrapper {
    /* border: 1px solid black; */
    /* background-color: var(--bgcolor--); */
}

.topnav_wrapper {
    border-bottom: 1px solid var(--bordercolor--);
    /* width: 100%; */
    padding: 8px 12px;
    position: sticky;
    top: 0;
    z-index: 1;
    top: 0;
    display: flex;
    backdrop-filter: blur(10px);
    justify-content:space-around;
    align-items: center;
    background: transparent;
}

.logo_name {
    text-decoration: none;
    color: var(--bgcolor--);
    margin-left: 4px;
}

.nav_items {
    cursor: pointer;
    letter-spacing: 0.3px;
    font-size: 14px;
    text-decoration: none;
    color: var(--bgcolor--);
    /* transition: all 0.3s; */
}

.nav_items:hover {
    border-bottom: 1px solid var(--bgcolor--);
    opacity: 0.5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 2px 4px;
    z-index: 1;
    transition: all 10s;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li a {
    text-decoration: none;
    color: var(--bgcolor--);
    font-size: 12px;
    margin: 6px;
    /* border: 1px solid black; */
}

.dropdown-content li a:hover {
    opacity: 0.5;
    text-decoration: underline;
}

.ls_btns_wrapper {
    /* border: 1px solid black; */
}

.logo_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.nav_left_wrapper {
    /* border: 1px solid black; */
    width: 69%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme_wrapper {
    border: 1px solid var(--bordercolor--);
    /* padding: 8px; */
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.blank_box {
    width: 40%;
    /* border: 1px solid black; */
}

.home_page_wrapper {
    /* display: flex;
    justify-content: space-between; */
    /* align-items: center; */
    /* border: 1px solid black; */
    /* height: 500px; */
}

.home_image_wrapper {
    /* border: 1px solid yellow; */
    /* margin-top: 60px; */
    width: 60%;
    /* height: 300px; */
    overflow: hidden;
    border-radius: 20%;
}

.home_image {
    /* position: absolute;
    top: 50px;
    right: 0; */
    width: 600px;
    /* height: 250px; */
    /* border: 1px solid black; */
    z-index: -1;
}

.home_content_wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
    height: 100vh;
    padding: 0 42px;
}

.home_content_wrapper p {
    font-size: 15px;
}


.home_btn_wrapper {
    margin-top: 40px;
}


.home_page_web_tech {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--bgcolor--);
}



.web_tech {
    height: 300px;
    width: 24%;
    margin: 20px;
    border-radius: 5%;
    color: var(--colorwhite--);
    text-align: center;
    border: 1px solid black;
}

.web_tech:hover {
    cursor: pointer;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

/* home page ends */













/* footer starts */

.footer {
    /* position: fixed;
    bottom: 0; */
    width: 95%;
    height: 400px;
    padding: 26px 21px;
    text-align: center;
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
}

.footer a {
    text-decoration: none;
    color: var(--bordercolor--);
}

/* footer ends */