/* home section start */



/* home section end */





/* sign up form start */

.form_wrapper {
    margin-top: 150px;
}

#signupForm {
    padding: 20px;
    width: 30%;
    border: 1px solid var(--bordercolor--);
    border-radius: 10px;
    margin: auto;
    margin-top: -60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hr {
    width: 50%;
    background-color: var(--bordercolor--);
}

/* sign up form end */




/* sign in form start */

.signin {
    text-decoration: underline;
    cursor: pointer;
}

/* sign in form end */






/* key wrapper start */

.key_wrapper .keyinput_wrapper {
    text-align: center;
}

.key_wrapper .keyinput_wrapper .keyinput {
    width: 60vw;
    padding: 6px;
    border: none;
    border-bottom: 1px solid black;
}

.key_wrapper .keyinput_wrapper .keyinput:focus {
    outline: none;
}

/* key wrapper end */



/* userinfo_wrapper start */

.quizinfo_wrapper {
    margin-top: -120px;
}

.course_wrapper {
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: 30%;
    height: 30vh;
    margin: 10px;
    border: 1px solid var(--bordercolor--);
}

.btn1 {
    border: 1px solid var(--bgcolor--);
    background-color: transparent;
    color: var(--bgcolor--);
    width: 80px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Arsenal SC', sans-serif;
}

.btn1:hover {
    color: var(--colorwhite--);
    background-color: rgb(3, 20, 34);
    scale: 1.03;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
















/* activateCourse start for admin */


.activateCourse {
    font-size: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bgcolor--);
    border-radius: 50%;
    color: var(--colorwhite--);
    background-color: var(--bgcolor--);
    position: fixed;
    bottom: 180px;
    right: 70px;
    cursor: pointer;
}

.activateCourse:hover {
    background-color: var(--colorwhite--);
    color: var(--bgcolor--);
}









/* activateCourse end for admin */













/* addCourses start for admin */

.visiblityNone {
    visibility: hidden;
}

.addCourses {
    font-size: 24px;
    width: 40px;
    height: 40px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--bgcolor--);
    border-radius: 50%;
    color: var(--colorwhite--);
    background-color: var(--bgcolor--);
    position: fixed;
    bottom: 100px;
    right: 70px;
    cursor: pointer;
}

.addCourses:hover {
    background-color: var(--colorwhite--);
    color: var(--bgcolor--);
}

/* addCourses end for admin */
















/* quizguide_wrapper start */


.quizguide_wrapper {
    margin-top: -120px;
}
 

.quizguide_wrapper table {
    margin-left: 20px;
    border-collapse: collapse;
    width: 80%;
}
  
.quizguide_wrapper td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.quizguide_wrapper tr:nth-child(even) {
    background-color: #dddddd;
}


/* quizguide_wrapper end */






/* quizdashboard_wrapper start */

.quizdashboard_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 80%;
    /* height: auto; */
    padding: 5px;
    margin: auto;
    margin-top: -120px;
}

.timer {
    text-align: right;
}

.options_wrapper {
    padding: 15px;
    width: 80%;
    border: 1px solid var(--bordercolor--);
    margin: auto;
    background-color: var(--bordercolor--);
}

.options {
    float: left;
    cursor: pointer;
    font-size: 18px;
}

.optionsRadio {
    float: left;
    cursor: pointer;
    font-size: 18px;
}

.btnNext {
    float: right;;
}

.active {
    background-color: var(--bordercolor--);
}

/* quizresultdashboard_wrapper start */
 
.usamaimage2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.anchor {
    text-decoration: none;
    color: var(--bgcolor--);
}


.quizresultdashboard_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 50%;
    margin: auto;
    margin-top: -100px;
    /* border-top: 1px solid var(--bordercolor--); */
    /* border-bottom: 1px solid var(--bordercolor--); */
}



.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 21px;
    text-align: center;
    background-color: var(--bgcolor--);
    color: var(--colorwhite--);
}

.footer a {
    text-decoration: none;
    color: var(--bordercolor--);
}






@media (max-width: 760px) {

    /* .app_wrapper {
        height: 900px;
    } */


    .course {
        width: 90%;
    }

    #signupForm {
        width: 95%;
        /* height: 60vh; */
    }

    .quizdashboard_wrapper {
        width: 95%;
        margin-top: -100px;
    }

    #questions_wrapper {
        width: 95%;
    }

    .quizresultdashboard_wrapper {
        width: 80%;
    }

    .quizresultdashboard_wrapper {
        margin-top: -150px;
    }
}