:root {
    --bordercolor--: #e0e0e0;
    --bgcolor--:  rgb(24, 56, 83);
    --colorwhite--: #fff;
    --colorblack--: #000;
}


body {
    padding: 0;
    margin: 0;
    font-family: 'Arsenal SC', sans-serif;
    color: var(--bgcolor--);
}

.inputStyle {
    padding: 6px;
    border: none;
    border-bottom: 1px solid var(--bordercolor--);
}

.inputStyle:focus {
    outline: none;
}

.btn {
    width: 80px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    /* font-size: 13px; */
    color: var(--colorwhite--);
    transition: all 0.3s;
    background-color: var(--bgcolor--);
    font-family: 'Arsenal SC', sans-serif;
}

.btn:hover {
    background-color: rgb(3, 20, 34);
    scale: 1.03;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.hidden {
    display: none;
}

.visible {
    display: block;
}

.warningcolor {
    color: red;
}

.opacity {
    opacity: 0.5;
}

.questions {
    border: 1px solid var(--bordercolor--);
    width: 70%;
    height: 60%;
    font-size: 22px;
    color: var(--bgcolor--);
    margin: auto;
}




.app_wrapper {
    /* border: 1px solid black; */
}





/* home section start */

.app_wrapper .homepage_wrapper {
    /* border: 1px solid gray; */
    /* background-color: rgb(0, 75, 75); */
    text-align: center;
}

.app_wrapper .homepage_wrapper .topnav_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 98%;
    padding: 5px;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
}

.app_wrapper .homepage_wrapper .topnav_wrapper a {
    text-decoration: none;
    color: var(--bgcolor--);
}

.app_wrapper .homepage_wrapper .topnav_wrapper .usamaimage {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.app_wrapper .homepage_wrapper .topnav_wrapper .fletter {
    color: var(--colorblack--);
}

.app_wrapper .homepage_wrapper .heading1 {
    margin-top: 100px;
    font-size: 50px;
}

/* home section end */




/* sign up form start */

.form_wrapper {
    margin-top: 150px;
}

#signupForm {
    width: 40%;
    height: 50vh;
    border: 1px solid var(--bordercolor--);
    border-radius: 10px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* sign up form start */




/* key wrapper start */

.key_wrapper {
    /* height: 100vh; */
    /* width: 100%; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* border: 1px solid black; */
    /* background-color: rgb(198, 255, 255); */
}

.key_wrapper .keyinput_wrapper {
    text-align: center;
    /* border: 1px solid black; */
}

.key_wrapper .keyinput_wrapper .keyinput {
    width: 60vw;
    padding: 6px;
    border: none;
    border-bottom: 1px solid black;
    /* background-color: rgb(198, 255, 255); */
}

.key_wrapper .keyinput_wrapper .keyinput:focus {
    outline: none;
}

/* key wrapper end */



/* userinfo_wrapper start */

.course_wrapper {
    /* border: 1px solid black; */
    display: flex;
    flex-wrap: wrap;
}

.course {
    width: 30%;
    height: 30vh;
    margin: 10px;
    border: 1px solid var(--bordercolor--);
}

.btn1 {
    border: 1px solid var(--bgcolor--);
    background-color: transparent;
    color: var(--bgcolor--);
    width: 80px;
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s;
    font-family: 'Arsenal SC', sans-serif;
}

.btn1:hover {
    color: var(--colorwhite--);
    background-color: rgb(3, 20, 34);
    scale: 1.03;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.quizguide_wrapper {
}

 

.quizguide_wrapper table {
    margin-left: 20px;
    border-collapse: collapse;
    width: 80%;
}
  
.quizguide_wrapper td, th {
    border-bottom: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.quizguide_wrapper tr:nth-child(even) {
    background-color: #dddddd;
}







/* quizdashboard_wrapper start */

.quizdashboard_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 80%;
    margin: auto;
}

.timer {
    text-align: right;
}

.options_wrapper {
    padding: 15px;
    width: 80%;
    border: 1px solid var(--bordercolor--);
    margin: auto;
}

.options {
    float: left;
    cursor: pointer;
    font-size: 18px;
}

.optionsRadio {
    float: left;
    cursor: pointer;
    font-size: 18px;
}

.btnNext {
    float: right;;
}

.active {
    background-color: var(--bordercolor--);
}

/* quizresultdashboard_wrapper start */
 
.usamaimage2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.anchor {
    text-decoration: none;
    color: var(--bgcolor--);
}


.quizresultdashboard_wrapper {
    border: 1px solid var(--bordercolor--);
    width: 50%;
    padding-top: -20px;
    margin: auto;
    /* border-top: 1px solid var(--bordercolor--); */
    /* border-bottom: 1px solid var(--bordercolor--); */
}







@media (max-width: 760px) {
    .course {
        width: 90%;
    }

    #signupForm {
        width: 80%;
    }

    .quizresultdashboard_wrapper {
        width: 80%;
    }
}